@reference "tailwindcss";

.toolboxContainer {
    @apply p-5 absolute top-1/4 left-5 w-64 rounded-md;
    box-shadow: var(--shadow-1);
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-1);

    .toolItem {
        @apply mb-5;

        .toolText {
            font-size: 11px;
            color: var(--color-text-1);
        }

        .itemContainer {
            @apply flex justify-between mt-2;

            .colorBox {
                @apply h-5 w-5 mr-1 rounded-sm cursor-pointer;

                &:hover,
                &.active {
                    border: 1.5px solid var(--color-border-1);
                    box-shadow: var(--color-shadow-2);
                }
            }
        }
    }
}