@import "tailwindcss";

@theme {
    /* BACKGROUND */
    --color-background-1: rgb(255 255 255 / 0.9);

    /* BORDERS */
    --color-border-1: #b8b8b8;
    --color-border-2: #d6d6d6;

    /* TEXT */
    --color-text-1: #3d3d3d;
    --color-text-2: #e3e2fe;

    /* SHADOWS */
    --shadow-1:
        0px 7px 14px rgb(0 0 0 / 0.05),
        0px 0px 3.12708px rgb(0 0 0 / 0.0798),
        0px 0px 0.931014px rgb(0 0 0 / 0.1702);

    --shadow-2: 0 0 0 1px #4a47b1;
}